html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#div-canvas {
    display: inline-block;
}

#div-user {
    width: 200px;
    display: inline-block;
}

canvas {
    border: 1px solid black;
}